@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-justify-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-justify-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}