@import 'mixins';

.footer-section {
  border-top: 2px solid hsl(0, 0%, 73%);
}
.footer {
  @include flex-justify-between;
  padding: 2rem 0;
}
.contact-heading {
  color: hsl(47, 80%, 60%);
  font-size: 2rem;
  font-weight: 700;
}
.contact-column p {
  text-align: end;
  margin-bottom: .3rem;
  margin-right: .3rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
}

.contact-form {
  padding: 1rem;
  border: 1px solid #fff;
  border-radius: 20px;
}

.sender-info {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 2rem;

  input {
    @include form-styles;
    font-size: 1.3rem;
  }
}

.sender-message {
  @include form-styles;
  width: 100%;
  height: 100px;
  font-size: 1.2rem;
  resize: none;
  margin-bottom: 2rem;
}

.send-msg-btn:hover {
  cursor: pointer;
}

// Reference: https://getcssscan.com/css-buttons-examples
.send-msg-btn {
  width: 100%;
  font-size: 1.2rem;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  padding: 12px;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
}

.send-msg-btn:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.send-msg-btn:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.send-msg-btn:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

.social-links {
  color: white;
  font-size: 1.5rem;
  display: flex;
  gap: 12px;
  margin-top: 1rem;
}
.social-links a {
  @include flex-center;
  font-size: 1.5rem;
  margin: .2rem;
  color: black;
  background-color: hsl(0, 0%, 73%);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  text-decoration: none;
  transition: .2s;
}
.social-links a:hover {
  background-color: hsl(47, 80%, 60%);
}

@media screen and (max-width: 968px) {
  .footer {
    flex-direction: column;
    padding: 1.5rem 0;
    gap: 1.5rem;
  }
  .social-links {
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .sender-info input {
    font-size: 1.1rem;
  }
  
  .sender-message {
    font-size: 1rem;
  }
}

@media screen and (max-width: 568px) {
  .contact-heading {
    font-size: 1.5rem;
  }
  .contact-column p {
    font-size: 1.1rem;
    margin: 1rem 0;
    text-align: center;
  }
  .sender-info {
    flex-direction: column;
  }
}
