@import 'mixins';
@import 'globals';

@include roboto-bold;
@include roboto-bold-italic;
@include roboto-regular;

$tooltip-bg: hsl(246, 100%, 4%);

.projects-section {
  @include flex-justify-around;
  flex-direction: column;
}
.projects-heading {
  font-family: 'Roboto-Bold', sans-serif;
  color: hsl(47, 80%, 60%);
  font-size: 3rem;
}
.projects-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem 0;
  width: 100%;
}
.project-card {
  background-color: #ccc;
  border: 1px solid $dark-text;
  border-radius: 12px;
  width: 45%;
  max-width: 80%;
  height: 300px;
  overflow: hidden;
  display: flex;
  transition: width .4s ease-out;
  -webkit-box-shadow: 10px 10px 22px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 22px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 22px 0px rgba(0,0,0,0.75);

  a {
    text-decoration: none;
  }
}

.project-card-skeleton {
  background-color: #ccc;
  border: 1px solid $dark-text;
  border-radius: 12px;
  width: 45%;
  max-width: 80%;
  height: 300px;
}

.project-code-link {
  color: $dark-text;
  font-size: .8rem;
  font-weight: 700;
  text-transform: uppercase;
}
.project-code-link:hover {
  text-decoration: underline;
}
.project-thumbnail {
  width: 100%;
  overflow: hidden;
}

// moved to HTML
// .thumbnail-wrapper {
//   width: 100%;
//   height: 70%;
//   overflow: hidden;
//   background-size: cover;
//   background-position: center;
//   background-repeat: no-repeat;
// }

.project-title {
  @include flex-center;
  font-family: 'Roboto-Bold', sans-serif;
  padding: 1rem;
  font-size: 1.6rem;
  border-top: 2px solid #191d32;
  text-align: center;
  text-decoration: none;
  height: 5rem;
  transition: font-size .3s ease-out;
}

.project-title > a {
  color: $dark-text;
  position: relative;
}

.project-title > a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 0;
  background-color: $dark-text;
  transition: width .3s ease-out;
}

.project-title > a:hover::before {
  width: 100%;
}

.tooltip {
  font-family: 'Roboto-Regular', sans-serif;
  background-color: $tooltip-bg;
  color: $light-text;
  text-transform: uppercase;
  font-size: .7rem;
  padding: 8px 12px;
  border-radius: 6px;
  position: absolute;
  top: 100%;
  transform: translateX(-50%);
  left: 50%;
}
.tooltip::before {
  content: '';
  display: block;
  position: absolute;
  top: -15%;
  transform: translateX(-50%);
  left: 50%;
  background-color: transparent;
  border-bottom: 5px solid $tooltip-bg;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}
.icon-wrapper {
  position: relative;
}

.icon-wrapper > img {
  width: 2rem;
  height: 2rem;
}

.expand-btn {
  display: none;
}

.project-links {
  font-family: 'Roboto-Bold', sans-serif;
  display: flex;
  flex-direction: column;
  gap: 12px;

  img {
    width: .7rem;
    height: .7rem;
  }
}

.project-details {
  opacity: 0;
  transition: opacity .6s ease-out;

  p {
    color: $dark-text;
    margin: 1rem 0;
  }
}

.project-role {
  font-family: 'Roboto-Bold-Italic', sans-serif;
  text-transform: capitalize;
}

.project-stack {
  display: flex;
  gap: .5rem;
}

.project-desc {
  font-family: 'Roboto-Regular', sans-serif;
}

.details-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

@media screen and (min-width: 768px) {
  // expand left card
  .project-card:nth-child(odd):hover {
    width: 80%;

    .project-details {
      opacity: 1;
    }
  }

  // collapse right card when left one is expanded
  .project-card:nth-child(odd):hover + .project-card {
    width: 10%;
    
    .project-title {
      font-size: 1rem;
    }
  }

  // expand right card
  // left card collapse is done with JS
  .project-card:nth-child(even):hover {
    width: 80%;

    .project-details {
      opacity: 1;
    }
  }

  .project-card:hover {
    .project-details {
      width: 60%;
      padding: 1rem;
    }
  
    .project-thumbnail {
      max-width: 40%;
    }
  }

  .project-details {
    width: 0;
  }
}

@media screen and (max-width: 768px) {
  .projects-grid {
    grid-template-columns: 1fr;
    margin: 1.5rem 0;
    justify-content: center;
    gap: 2rem;
  }

  .project-card {
    width: 100%;
    max-width: 100%;
    height: auto;
    min-height: 300px;
    flex-direction: column;
  }

  .project-card-skeleton {
    width: 100%;
    max-width: 100%;
    height: 300px;
  }

  .project-links {
    flex-direction: row;
  }
  
  .project-details {
    width: 100%;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height .3s ease-out, opacity .5s ease-out;
  }

  .project-details.active {
    padding: 1rem;
    opacity: 1;
  }

  .project-thumbnail {
    max-width: 100%;
    height: 270px;
  }

  .expand-btn {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 5px;
    border: none;
    transition: background-color .3s;
  }
  
  .expand-btn > img {
    width: 22px;
    height: 22px;
  }

  .expand-btn:hover {
    background-color: hsl(0, 0%, 90%);
  }

  .details-header {
    flex-direction: column;
  }
}
