@import 'mixins';

$tooltip-bg: hsl(246, 100%, 4%);
$tooltip-text: white;
$font-color: hsl(246, 100%, 4%);

.projects-section {
  @include flex-justify-around;
  flex-direction: column;
}
.projects-heading {
  color: hsl(47, 80%, 60%);
  font-size: 3rem;
  font-weight: 700;
}
.projects-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem 0;
  width: 100%;

  a {
    text-decoration: none;
  }
}
.project-card {
  background-color: #ccc;
  border: 1px solid $font-color;
  border-radius: 12px;
  width: 45%;
  max-width: 80%;
  height: 300px;
  overflow: hidden;
  display: flex;
  transition: width .4s ease-out;
  -webkit-box-shadow: 10px 10px 22px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 22px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 22px 0px rgba(0,0,0,0.75);
}

.project-header {
  @include flex-justify-between;
  padding: 1rem;
  font-size: 1.6rem;
  border-bottom: 2px solid #191d32;
}
.project-header-icons-wrapper {
  display: flex;
  gap: 5px;
}
.icon-img {
  position: relative;
  height: 25px;
}
.project-code-link {
  color: $font-color;
  font-size: .8rem;
  font-weight: 700;
  text-transform: uppercase;
}
.project-code-link:hover {
  text-decoration: underline;
}
.project-thumbnail {
  width: 100%;
  overflow: hidden;
}

.thumbnail-wrapper {
  width: 100%;
  height: 70%;
  overflow: hidden;
  // background-image: url('../images/vocabit_thumbnail.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

// .thumbnail-wrapper img {
//   min-height: 100%;
//   max-width: 100%;
// }

// .project-thumbnail img {
//   max-width: 100%;
//   transform: scale(1.07);
//   transition: .2s;
// }

.project-title {
  @include flex-center;
  padding: 1rem;
  font-size: 1.6rem;
  border-top: 2px solid #191d32;
  text-align: center;
  font-weight: 700;
  text-decoration: none;
  color: $font-color;
  height: 5rem;
}
.project-card:hover .project-title {
  text-decoration: underline;
}
// .project-card:hover .project-thumbnail img {
//   transform: scale(1.14);
// }
.tooltip {
  background-color: $tooltip-bg;
  color: $tooltip-text;
  text-transform: uppercase;
  font-size: .7rem;
  padding: 8px 12px;
  border-radius: 6px;
  position: absolute;
  top: -120%;
  transform: translateX(-50%);
  left: 50%;
}
.tooltip::before {
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  transform: translateX(-50%);
  left: 50%;
  background-color: transparent;
  border-top: 5px solid $tooltip-bg;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}
.icon-wrapper {
  position: relative;
}

.expand-btn {
  display: none;
}

.project-details {
  p {
    margin: 1rem 0;
  }
}

.project-role {
  text-transform: capitalize;
  font-style: italic;
}

.project-stack {
  font-weight: 700;
}

.details-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

@media screen and (max-width: 768px) {
  .projects-grid {
    justify-content: center;
    gap: 2rem;
  }

  .project-card {
    width: 100%;
    max-width: 100%;
    height: auto;
    min-height: 300px;
    flex-direction: column;
  }
  
  .project-details {
    width: 100%;
    overflow: hidden;
    max-height: 0;
    transition: max-height .3s ease-out;
  }

  .project-details.active {
    padding: 1rem;
  }

  .project-thumbnail {
    max-width: 100%;
    height: 270px;
  }

  .expand-btn {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 1rem;
  }

  .details-header {
    flex-direction: column;
  } 
}

@media screen and (min-width: 768px) {
  // expand left card
  .project-card:nth-child(odd):hover {
    width: 80%;
  }

  // collapse right card when left one is expanded
  .project-card:nth-child(odd):hover + .project-card {
    width: 10%;
  }

  // expand right card
  // left card collapse is done with JS
  .project-card:nth-child(even):hover {
    width: 80%;
  }

  .project-card:hover {
    .project-details {
      width: 60%;
      padding: 1rem;
    }
  
    .project-thumbnail {
      max-width: 40%;
    }
  }

  .project-details {
    width: 0;
  }
}
