@import 'mixins';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body {
  --navbar-height: 5rem;

  background: linear-gradient(-135deg, #453a49, #191d32);
  min-height: 100vh;
  margin: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
/* ============== Navbar ============ */
.nav-center {
  @include flex-justify-around;
  background-color: #2f2b3d;
  list-style: none;
  height: var(--navbar-height);
  padding: 1rem;
  border-bottom: 2px solid hsl(0, 0%, 73%);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
.nav-header {
  display: none;
}
.nav-links {
  @include flex-justify-around;
  list-style: none;
  transition: .2s;
}
.nav-menu-link {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  transition: .2s;
}
.nav-menu-link::before {
  content: '< ';
  visibility: hidden;
  font-size: 1.3rem;
  font-weight: 700;
  color: hsl(0, 40%, 55%);
}
.nav-menu-link::after {
  content: ' />';
  visibility: hidden;
  font-size: 1.3rem;
  font-weight: 700;
  color: hsl(0, 40%, 55%);
}
.nav-menu-link:hover::before,
.nav-menu-link:hover::after {
  visibility: visible;
}
.nav-toggle {
  font-size: 1.8rem;
  background: transparent;
  border-color: transparent;
  transition: .2s;
  cursor: pointer;
  color: white;
}
.show-links {
  height: 10rem;
}

/* ======== Hero Section =========== */
.hero-section {
  --font-size: 2rem;
  @include flex-justify-between;
  min-height: 100vh;
}
.hero-section span {
  color: white;
}
.name-heading {
  font-weight: bold;
  font-size: 3.5rem;
}
.occupation-heading {
  font-weight: lighter;
  font-size: var(--font-size);
}
h3 {
  display: flex;
  position: relative;
}
.name-heading {
  border-right: 3px solid gray;
}
.occupation-heading::after {
  content: '';
  width: 3px;
  height: var(--font-size);
  background-color: gray;
  display: inline-block;
  animation: cursor-blink 1s steps(2) infinite;
}
@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}
.bg-code-wrapper {
  width: 45%;
  background-image: url(/images/hero_bg.png);
  background-repeat: no-repeat;
  align-self: stretch;
  background-size: cover;
  filter: opacity(0.4) brightness(0.6);
  background-attachment: fixed;
  background-position: left;
}
.name-div {
  width: 45%;
}

/* =========== About Section ========== */
.about-section {
  min-height: calc(100vh + var(--navbar-height));
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about-para {
  color: white;
  font-size: 1.3rem;
  max-width: 60%;
}
.about-heading {
  color: hsl(47, 80%, 60%);
  font-size: 3rem;
  font-weight: 700;
}
.grid-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8rem;
}
.hardskills,
.softskills {
  color: white;
  padding: 1rem;
  border-radius: 18px;
  font-size: 1.1rem;
  box-shadow: 10px 10px 22px 4px rgba(0,0,0,0.45);
  text-align: center;
}
.hardskills {
  background-color: #364156;
  grid-column-start: 2;
  grid-column-end: 3;
  transform: translateX(200%);
}
.skills-grid.animate-skills .hardskills {
  animation-name: right-roll-out;
  animation-fill-mode: forwards;
  animation-duration: .7s;
}
.skills-grid.animate-skills .softskills {
  animation-name: left-roll-out;
  animation-fill-mode: forwards;
  animation-duration: .7s;
}

@keyframes right-roll-out {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(0%);
  }
}
.softskills {
  background-color: #7d4e57;
  grid-column-start: 1;
  grid-column-end: 2;
  transform: translateX(-200%);
}
@keyframes left-roll-out {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0%);
  }
}

.grid-row:nth-of-type(2n) .softskills {
  animation-delay: 0.5s;
}
.grid-row:nth-of-type(3n) .hardskills {
  animation-delay: 0.9s;
}
.grid-row:nth-of-type(4n) .softskills {
  animation-delay: 1.3s;
}
.grid-row:nth-of-type(5n) .hardskills {
  animation-delay: 1.7s;
}
.grid-row:nth-of-type(6n) .softskills {
  animation-delay: 2.1s;
}
.grid-row:nth-of-type(7n) .hardskills {
  animation-delay: 2.4s;
}
.grid-row:nth-of-type(8n) .softskills {
  animation-delay: 2.9s;
}

/* =========== Footer Section =========== */
.footer-section {
  border-top: 2px solid hsl(0, 0%, 73%);
}
.footer {
  @include flex-justify-between;
  padding: 2rem 0;
}
.contact-heading {
  color: hsl(47, 80%, 60%);
  font-size: 2rem;
  font-weight: 700;
}
.contact-column p {
  text-align: end;
  margin-bottom: .3rem;
  margin-right: .3rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
}
.social-links {
  color: white;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
}
.social-links a {
  @include flex-center;
  font-size: 1.5rem;
  margin: .2rem;
  color: black;
  background-color: hsl(0, 0%, 73%);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  text-decoration: none;
  transition: .2s;
}
.social-links a:hover {
  background-color: hsl(47, 80%, 60%);
}

@media screen and (max-width: 1600px) {
  .container {
    max-width: 1320px;
  }
}
@media screen and (max-width: 1368px) {
  .container {
    max-width: 1200px;
  }
}
@media screen and (max-width: 1200px) {
  .container {
    max-width: 1024px;
  }
}
@media screen and (max-width: 1024px) {
  .container {
    max-width: 968px;
  }
  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 968px) {
  .container {
    max-width: 768px;
  }
  .projects-grid {
    margin: 1rem 0;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 576px;
  }
  .nav-center {
    display: block;
    height: auto;
  }
  .nav-header {
    display: block;
  }
  .nav-links {
    display: block;
    overflow: hidden;
    height: 0;
    margin-top: .8rem;
  }
  .nav-links > li {
    margin: .4rem 0;
  }
  .show-links {
    height: 10rem;
  }
  .name-heading {
    font-size: 2.5rem;
  }
  .download-div {
    width: 30%;
  }
  .hero-section {
    --font-size: 1.4rem;
    flex-direction: column;
    justify-content: center;
  }
  .bg-code-wrapper {
    height: 40dvh;
    width: 100%;
    order: 2;
  }
  .name-div {
    width: auto;
    max-width: 100%;
    width: auto;
    margin-bottom: 2rem;
  }
  .about-para {
    max-width: 100%;
    font-size: 1.2rem;
  }
  .about-heading,
  .projects-heading {
    font-size: 2.5rem;
    text-align: center;
  }
  .grid-row {
    grid-template-columns: 1fr;
    margin: .7rem 0;
    padding: 0 3rem;
  }
  .softskills,
  .hardskills {
    grid-column-start: 1;
  }
  .projects-grid {
    grid-template-columns: 1fr;
    margin: 1.5rem 0;
  }
}
@media screen and (max-width: 568px) {
  .container {
    max-width: 100%;
    padding: 0 .8rem;
  }
  .name-heading,
  .about-heading,
  .projects-heading {
    font-size: 2rem;
  }
  .footer {
    flex-direction: column;
    padding: 1.5rem 0;
  }
  .contact-heading {
    font-size: 1.5rem;
  }
  .contact-column p {
    font-size: 1.1rem;
    margin: 1rem 0;
    text-align: center;
  }
}