@font-face {
  font-family: "Roboto-Bold";
  src: local("Roboto-Bold"), url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Roboto-Bold-Italic";
  src: local("Roboto-Bold-Italic"), url("../fonts/Roboto-BoldItalic.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Roboto-Regular";
  src: local("Roboto-Regular"), url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-display: swap;
}
.projects-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.projects-heading {
  font-family: "Roboto-Bold", sans-serif;
  color: hsl(47, 80%, 60%);
  font-size: 3rem;
}

.projects-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem 0;
  width: 100%;
}

.project-card {
  background-color: #ccc;
  border: 1px solid #0c1227;
  border-radius: 12px;
  width: 45%;
  max-width: 80%;
  height: 300px;
  overflow: hidden;
  display: flex;
  transition: width 0.4s ease-out;
  -webkit-box-shadow: 10px 10px 22px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 22px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 22px 0px rgba(0, 0, 0, 0.75);
}
.project-card a {
  text-decoration: none;
}

.project-card-skeleton {
  background-color: #ccc;
  border: 1px solid #0c1227;
  border-radius: 12px;
  width: 45%;
  max-width: 80%;
  height: 300px;
}

.project-code-link {
  color: #0c1227;
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
}

.project-code-link:hover {
  text-decoration: underline;
}

.project-thumbnail {
  width: 100%;
  overflow: hidden;
}

.project-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto-Bold", sans-serif;
  padding: 1rem;
  font-size: 1.6rem;
  border-top: 2px solid #191d32;
  text-align: center;
  text-decoration: none;
  height: 5rem;
  transition: font-size 0.3s ease-out;
}

.project-title > a {
  color: #0c1227;
  position: relative;
}

.project-title > a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 0;
  background-color: #0c1227;
  transition: width 0.3s ease-out;
}

.project-title > a:hover::before {
  width: 100%;
}

.tooltip {
  font-family: "Roboto-Regular", sans-serif;
  background-color: hsl(246, 100%, 4%);
  color: #fffce4;
  text-transform: uppercase;
  text-align: center;
  font-size: 0.7rem;
  padding: 8px 12px;
  border-radius: 6px;
  position: absolute;
  top: 100%;
  transform: translateX(-50%);
  left: 50%;
  white-space: nowrap;
}

.tooltip::before {
  content: "";
  display: block;
  position: absolute;
  top: -15%;
  transform: translateX(-50%);
  left: 50%;
  background-color: transparent;
  border-bottom: 5px solid hsl(246, 100%, 4%);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.icon-wrapper {
  position: relative;
}

.icon-wrapper > img {
  width: 2rem;
  height: 2rem;
}

.expand-btn {
  display: none;
}

.project-links {
  font-family: "Roboto-Bold", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.project-links img {
  width: 0.7rem;
  height: 0.7rem;
}

.project-details {
  opacity: 0;
  transition: opacity 0.6s ease-out;
}
.project-details p {
  color: #0c1227;
  margin: 1rem 0;
}

.project-role {
  font-family: "Roboto-Bold-Italic", sans-serif;
  text-transform: capitalize;
}

.project-stack {
  display: flex;
  gap: 0.5rem;
}

.project-desc {
  font-family: "Roboto-Regular", sans-serif;
}

.details-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

@media screen and (min-width: 768px) {
  .project-card:nth-child(odd):hover {
    width: 80%;
  }
  .project-card:nth-child(odd):hover .project-details {
    opacity: 1;
  }
  .project-card:nth-child(odd):hover + .project-card {
    width: 10%;
  }
  .project-card:nth-child(odd):hover + .project-card .project-title {
    font-size: 1rem;
  }
  .project-card:nth-child(even):hover {
    width: 80%;
  }
  .project-card:nth-child(even):hover .project-details {
    opacity: 1;
  }
  .project-card:hover .project-details {
    width: 60%;
    padding: 1rem;
  }
  .project-card:hover .project-thumbnail {
    max-width: 40%;
  }
  .project-details {
    width: 0;
  }
}
@media screen and (max-width: 768px) {
  .projects-grid {
    grid-template-columns: 1fr;
    margin: 1.5rem 0;
    justify-content: center;
    gap: 2rem;
  }
  .project-card {
    width: 100%;
    max-width: 100%;
    height: auto;
    min-height: 300px;
    flex-direction: column;
  }
  .project-card-skeleton {
    width: 100%;
    max-width: 100%;
    height: 300px;
  }
  .project-links {
    flex-direction: row;
  }
  .project-details {
    width: 100%;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.3s ease-out, opacity 0.5s ease-out;
  }
  .project-details.active {
    padding: 1rem;
    opacity: 1;
  }
  .project-thumbnail {
    max-width: 100%;
    height: 270px;
  }
  .expand-btn {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 5px;
    border: none;
    transition: background-color 0.3s;
  }
  .expand-btn > img {
    width: 22px;
    height: 22px;
  }
  .expand-btn:hover {
    background-color: hsl(0, 0%, 90%);
  }
  .details-header {
    flex-direction: column;
  }
}

/*# sourceMappingURL=projects.css.map */
