.projects-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.projects-heading {
  color: hsl(47, 80%, 60%);
  font-size: 3rem;
  font-weight: 700;
}

.projects-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem 0;
  width: 100%;
}
.projects-grid a {
  text-decoration: none;
}

.project-card {
  background-color: #ccc;
  border: 1px solid #0c1227;
  border-radius: 12px;
  width: 45%;
  max-width: 80%;
  height: 300px;
  overflow: hidden;
  display: flex;
  transition: width 0.4s ease-out;
  -webkit-box-shadow: 10px 10px 22px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 22px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 22px 0px rgba(0, 0, 0, 0.75);
}

.project-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-size: 1.6rem;
  border-bottom: 2px solid #191d32;
}

.project-header-icons-wrapper {
  display: flex;
  gap: 5px;
}

.icon-img {
  position: relative;
  height: 25px;
}

.project-code-link {
  color: #0c1227;
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
}

.project-code-link:hover {
  text-decoration: underline;
}

.project-thumbnail {
  width: 100%;
  overflow: hidden;
}

.thumbnail-wrapper {
  width: 100%;
  height: 70%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.project-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-size: 1.6rem;
  border-top: 2px solid #191d32;
  text-align: center;
  font-weight: 700;
  text-decoration: none;
  height: 5rem;
  transition: font-size 0.3s ease-out;
}
.project-title a {
  color: #0c1227;
  position: relative;
}
.project-title a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 0;
  background-color: #0c1227;
  transition: width 0.3s ease-out;
}
.project-title a:hover::before {
  width: 100%;
}

.tooltip {
  background-color: hsl(246, 100%, 4%);
  color: #fffce4;
  text-transform: uppercase;
  font-size: 0.7rem;
  padding: 8px 12px;
  border-radius: 6px;
  position: absolute;
  top: 100%;
  transform: translateX(-50%);
  left: 50%;
}

.tooltip::before {
  content: "";
  display: block;
  position: absolute;
  top: -15%;
  transform: translateX(-50%);
  left: 50%;
  background-color: transparent;
  border-bottom: 5px solid hsl(246, 100%, 4%);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.icon-wrapper {
  position: relative;
}

.expand-btn {
  display: none;
}

.project-links {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.project-links i {
  font-size: 0.7rem;
}

.project-details p {
  color: #0c1227;
  margin: 1rem 0;
}

.project-role {
  text-transform: capitalize;
  font-style: italic;
  font-weight: bold;
}

.project-stack {
  display: flex;
  gap: 0.5rem;
}
.project-stack img {
  width: 2rem;
  height: 2rem;
}

.details-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

@media screen and (max-width: 768px) {
  .projects-grid {
    justify-content: center;
    gap: 2rem;
  }
  .project-card {
    width: 100%;
    max-width: 100%;
    height: auto;
    min-height: 300px;
    flex-direction: column;
  }
  .project-links {
    flex-direction: row;
  }
  .project-details {
    width: 100%;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-out;
  }
  .project-details.active {
    padding: 1rem;
  }
  .project-thumbnail {
    max-width: 100%;
    height: 270px;
  }
  .expand-btn {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 1.1rem;
    padding: 5px;
    border: none;
    transition: background-color 0.3s;
  }
  .expand-btn:hover {
    background-color: hsl(0, 0%, 90%);
  }
  .details-header {
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .project-card:nth-child(odd):hover {
    width: 80%;
  }
  .project-card:nth-child(odd):hover + .project-card {
    width: 10%;
  }
  .project-card:nth-child(odd):hover + .project-card .project-title {
    font-size: 1rem;
  }
  .project-card:nth-child(even):hover {
    width: 80%;
  }
  .project-card:hover .project-details {
    width: 60%;
    padding: 1rem;
  }
  .project-card:hover .project-thumbnail {
    max-width: 40%;
  }
  .project-details {
    width: 0;
  }
}

/*# sourceMappingURL=projects.css.map */
