@font-face {
  font-family: "Roboto-Regular";
  src: local("Roboto-Regular"), url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Roboto-Light";
  src: local("Roboto-Light"), url("../fonts/Roboto-Light.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Roboto-Bold";
  src: local("Roboto-Bold"), url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-display: swap;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  --navbar-height: 5rem;
  background: linear-gradient(-135deg, hsl(284, 9%, 26%), hsl(230, 31%, 15%));
  min-height: 100vh;
  margin: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

/* ============== Navbar ============ */
.nav-center {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: hsl(253, 15%, 20%);
  list-style: none;
  height: var(--navbar-height);
  padding: 1rem;
  border-bottom: 2px solid hsl(0, 0%, 73%);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.nav-header {
  display: none;
}

.nav-links {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  list-style: none;
  transition: 0.2s;
}

.nav-menu-link {
  font-family: "Roboto-Regular", sans-serif;
  color: #fffce4;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  transition: 0.2s;
}

.nav-menu-link::before {
  content: "< ";
  visibility: hidden;
  font-size: 1.3rem;
  font-weight: 700;
  color: hsl(0, 40%, 55%);
}

.nav-menu-link::after {
  content: " />";
  visibility: hidden;
  font-size: 1.3rem;
  font-weight: 700;
  color: hsl(0, 40%, 55%);
}

.nav-menu-link:hover::before,
.nav-menu-link:hover::after {
  visibility: visible;
}

.show-links {
  height: 10rem;
}

/* ======== Hero Section =========== */
.hero-section {
  --font-size: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.hero-section span {
  color: #fffce4;
}

.name-heading {
  font-family: "Roboto-Bold", sans-serif;
  font-size: 3.5rem;
}

.occupation-heading {
  font-family: "Roboto-Light", sans-serif;
  font-size: var(--font-size);
}

.cv-file > img {
  width: 2rem;
  height: 2rem;
}

.name-heading {
  border-right: 3px solid gray;
}

.occupation-heading::after {
  content: "";
  width: 3px;
  height: var(--font-size);
  background-color: gray;
  display: inline-block;
  animation: cursor-blink 1s steps(2) infinite;
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}
.name-div {
  width: 45%;
}

.about-section {
  min-height: calc(100vh + var(--navbar-height));
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-para {
  font-family: "Roboto-Regular", sans-serif;
  color: #fffce4;
  font-size: 1.3rem;
  max-width: 60%;
}

.about-heading {
  font-family: "Roboto-Bold", sans-serif;
  color: hsl(47, 80%, 60%);
  font-size: 3rem;
}

.grid-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8rem;
}

.hardskills,
.softskills {
  font-family: "Roboto-Regular", sans-serif;
  color: #fffce4;
  padding: 1rem;
  border-radius: 18px;
  font-size: 1.1rem;
  box-shadow: 10px 10px 22px 4px rgba(0, 0, 0, 0.45);
  text-align: center;
}

.hardskills {
  background-color: #364156;
  grid-column-start: 2;
  grid-column-end: 3;
  transform: translateX(200%);
}

.skills-grid.animate-skills .hardskills {
  animation-name: right-roll-out;
  animation-fill-mode: forwards;
  animation-duration: 0.7s;
}

.skills-grid.animate-skills .softskills {
  animation-name: left-roll-out;
  animation-fill-mode: forwards;
  animation-duration: 0.7s;
}

@keyframes right-roll-out {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(0%);
  }
}
.softskills {
  background-color: #7d4e57;
  grid-column-start: 1;
  grid-column-end: 2;
  transform: translateX(-200%);
}

@keyframes left-roll-out {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0%);
  }
}
.grid-row:nth-of-type(2n) .softskills {
  animation-delay: 0.5s;
}

.grid-row:nth-of-type(3n) .hardskills {
  animation-delay: 0.9s;
}

.grid-row:nth-of-type(4n) .softskills {
  animation-delay: 1.3s;
}

.grid-row:nth-of-type(5n) .hardskills {
  animation-delay: 1.7s;
}

.grid-row:nth-of-type(6n) .softskills {
  animation-delay: 2.1s;
}

.grid-row:nth-of-type(7n) .hardskills {
  animation-delay: 2.4s;
}

.grid-row:nth-of-type(8n) .softskills {
  animation-delay: 2.9s;
}

@media screen and (max-width: 1600px) {
  .container {
    max-width: 1320px;
  }
  .cv-file {
    font-size: 2rem;
  }
}
@media screen and (max-width: 1368px) {
  .container {
    max-width: 1200px;
  }
}
@media screen and (max-width: 1200px) {
  .container {
    max-width: 1024px;
  }
}
@media screen and (max-width: 1024px) {
  .container {
    max-width: 968px;
  }
  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 968px) {
  .container {
    max-width: 768px;
  }
  .projects-grid {
    margin: 1rem 0;
  }
}

/*# sourceMappingURL=style.css.map */
